/node_modules
/public/css/
/public/js/
/public/img
/public/fonts
/public/plugins
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
